@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Declarations */
@font-face {
  font-family: 'Bondoluo Peek';
  src: url('/assets/fonts/bondoluo-peek.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Medium';
  src: url('/assets/fonts/futura-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  transition: all 0.3s;
  background-color: rgba(106, 115, 125, 0.2);
  &:hover {
    background-color: rgba(106, 115, 125, 0.27);
  }
}

::-webkit-scrollbar-corner {
  display: none;
}
